# Palmer Penguins
# This note book contains analysis of palmer penguis data set

In [1]:
import pandas as pd
import matplotlib.pyplot as plt # imports the Matplotlib library

In [2]:
df = pd.read_csv ("https://raw.githubusercontent.com/DBrennan88/Principles-of-Data-Analytics/main/penguins_raw_data.csv")
# URL of the Palmer Penguins dataset
# Load the dataset into a DataFrame

In [3]:
df

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,2007-11-11,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,2007-11-11,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,2007-11-16,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,2007-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,2007-11-16,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,64,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N98A2,Yes,2009-11-19,55.8,19.8,207.0,4000.0,MALE,9.70465,-24.53494,NaN
340,PAL0910,65,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N99A1,No,2009-11-21,43.5,18.1,202.0,3400.0,FEMALE,9.37608,-24.40753,Nest never observed with full clutch.
341,PAL0910,66,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N99A2,No,2009-11-21,49.6,18.2,193.0,3775.0,MALE,9.46180,-24.70615,Nest never observed with full clutch.
342,PAL0910,67,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N100A1,Yes,2009-11-21,50.8,19.0,210.0,4100.0,MALE,9.98044,-24.68741,NaN
343,PAL0910,68,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N100A2,Yes,2009-11-21,50.2,18.7,198.0,3775.0,FEMALE,9.39305,-24.25255,NaN

In [4]:
df.iloc [0]

studyName                                          PAL0708
Sample Number                                            1
Species                Adelie Penguin (Pygoscelis adeliae)
Region                                              Anvers
Island                                           Torgersen
Stage                                   Adult, 1 Egg Stage
Individual ID                                         N1A1
Clutch Completion                                      Yes
Date Egg                                        2007-11-11
Culmen Length (mm)                                    39.1
Culmen Depth (mm)                                     18.7
Flipper Length (mm)                                  181.0
Body Mass (g)                                       3750.0
Sex                                                   MALE
Delta 15 N (o/oo)                                      NaN
Delta 13 C (o/oo)                                      NaN
Comments                    Not enough blood for isotopes.
Name: 0, dtype: object

In [5]:
# Compare sex of penguins in data set
df ["Sex"].value_counts()

Sex
MALE      168
FEMALE    165
Name: count, dtype: int64

In [6]:
df.head # shows me first few rows

<bound method NDFrame.head of     studyName  Sample Number                                    Species  \
0     PAL0708              1        Adelie Penguin (Pygoscelis adeliae)
1     PAL0708              2        Adelie Penguin (Pygoscelis adeliae)
2     PAL0708              3        Adelie Penguin (Pygoscelis adeliae)
3     PAL0708              4        Adelie Penguin (Pygoscelis adeliae)
4     PAL0708              5        Adelie Penguin (Pygoscelis adeliae)
..        ...            ...                                        ...
339   PAL0910             64  Chinstrap penguin (Pygoscelis antarctica)
340   PAL0910             65  Chinstrap penguin (Pygoscelis antarctica)
341   PAL0910             66  Chinstrap penguin (Pygoscelis antarctica)
342   PAL0910             67  Chinstrap penguin (Pygoscelis antarctica)
343   PAL0910             68  Chinstrap penguin (Pygoscelis antarctica)

     Region     Island               Stage Individual ID Clutch Completion  \
0    Anvers  Torgersen  Adult, 1 Egg Stage          N1A1               Yes
1    Anvers  Torgersen  Adult, 1 Egg Stage          N1A2               Yes
2    Anvers  Torgersen  Adult, 1 Egg Stage          N2A1               Yes
3    Anvers  Torgersen  Adult, 1 Egg Stage          N2A2               Yes
4    Anvers  Torgersen  Adult, 1 Egg Stage          N3A1               Yes
..      ...        ...                 ...           ...               ...
339  Anvers      Dream  Adult, 1 Egg Stage         N98A2               Yes
340  Anvers      Dream  Adult, 1 Egg Stage         N99A1                No
341  Anvers      Dream  Adult, 1 Egg Stage         N99A2                No
342  Anvers      Dream  Adult, 1 Egg Stage        N100A1               Yes
343  Anvers      Dream  Adult, 1 Egg Stage        N100A2               Yes

       Date Egg  Culmen Length (mm)  Culmen Depth (mm)  Flipper Length (mm)  \
0    2007-11-11                39.1               18.7                181.0
1    2007-11-11                39.5               17.4                186.0
2    2007-11-16                40.3               18.0                195.0
3    2007-11-16                 NaN                NaN                  NaN
4    2007-11-16                36.7               19.3                193.0
..          ...                 ...                ...                  ...
339  2009-11-19                55.8               19.8                207.0
340  2009-11-21                43.5               18.1                202.0
341  2009-11-21                49.6               18.2                193.0
342  2009-11-21                50.8               19.0                210.0
343  2009-11-21                50.2               18.7                198.0

     Body Mass (g)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
0           3750.0    MALE                NaN                NaN
1           3800.0  FEMALE            8.94956          -24.69454
2           3250.0  FEMALE            8.36821          -25.33302
3              NaN     NaN                NaN                NaN
4           3450.0  FEMALE            8.76651          -25.32426
..             ...     ...                ...                ...
339         4000.0    MALE            9.70465          -24.53494
340         3400.0  FEMALE            9.37608          -24.40753
341         3775.0    MALE            9.46180          -24.70615
342         4100.0    MALE            9.98044          -24.68741
343         3775.0  FEMALE            9.39305          -24.25255

                                  Comments
0           Not enough blood for isotopes.
1                                      NaN
2                                      NaN
3                       Adult not sampled.
4                                      NaN
..                                     ...
339                                    NaN
340  Nest never observed with full clutch.
341  Nest never observed with full clutch.
342                                    NaN
343                                    NaN

[344 rows x 17 columns]>

In [7]:
df.info # summary of a DataFrame, including the number of non-null values, data types, and memory usage. quick overview of  structure of dataset.

<bound method DataFrame.info of     studyName  Sample Number                                    Species  \
0     PAL0708              1        Adelie Penguin (Pygoscelis adeliae)
1     PAL0708              2        Adelie Penguin (Pygoscelis adeliae)
2     PAL0708              3        Adelie Penguin (Pygoscelis adeliae)
3     PAL0708              4        Adelie Penguin (Pygoscelis adeliae)
4     PAL0708              5        Adelie Penguin (Pygoscelis adeliae)
..        ...            ...                                        ...
339   PAL0910             64  Chinstrap penguin (Pygoscelis antarctica)
340   PAL0910             65  Chinstrap penguin (Pygoscelis antarctica)
341   PAL0910             66  Chinstrap penguin (Pygoscelis antarctica)
342   PAL0910             67  Chinstrap penguin (Pygoscelis antarctica)
343   PAL0910             68  Chinstrap penguin (Pygoscelis antarctica)

     Region     Island               Stage Individual ID Clutch Completion  \
0    Anvers  Torgersen  Adult, 1 Egg Stage          N1A1               Yes
1    Anvers  Torgersen  Adult, 1 Egg Stage          N1A2               Yes
2    Anvers  Torgersen  Adult, 1 Egg Stage          N2A1               Yes
3    Anvers  Torgersen  Adult, 1 Egg Stage          N2A2               Yes
4    Anvers  Torgersen  Adult, 1 Egg Stage          N3A1               Yes
..      ...        ...                 ...           ...               ...
339  Anvers      Dream  Adult, 1 Egg Stage         N98A2               Yes
340  Anvers      Dream  Adult, 1 Egg Stage         N99A1                No
341  Anvers      Dream  Adult, 1 Egg Stage         N99A2                No
342  Anvers      Dream  Adult, 1 Egg Stage        N100A1               Yes
343  Anvers      Dream  Adult, 1 Egg Stage        N100A2               Yes

       Date Egg  Culmen Length (mm)  Culmen Depth (mm)  Flipper Length (mm)  \
0    2007-11-11                39.1               18.7                181.0
1    2007-11-11                39.5               17.4                186.0
2    2007-11-16                40.3               18.0                195.0
3    2007-11-16                 NaN                NaN                  NaN
4    2007-11-16                36.7               19.3                193.0
..          ...                 ...                ...                  ...
339  2009-11-19                55.8               19.8                207.0
340  2009-11-21                43.5               18.1                202.0
341  2009-11-21                49.6               18.2                193.0
342  2009-11-21                50.8               19.0                210.0
343  2009-11-21                50.2               18.7                198.0

     Body Mass (g)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
0           3750.0    MALE                NaN                NaN
1           3800.0  FEMALE            8.94956          -24.69454
2           3250.0  FEMALE            8.36821          -25.33302
3              NaN     NaN                NaN                NaN
4           3450.0  FEMALE            8.76651          -25.32426
..             ...     ...                ...                ...
339         4000.0    MALE            9.70465          -24.53494
340         3400.0  FEMALE            9.37608          -24.40753
341         3775.0    MALE            9.46180          -24.70615
342         4100.0    MALE            9.98044          -24.68741
343         3775.0  FEMALE            9.39305          -24.25255

                                  Comments
0           Not enough blood for isotopes.
1                                      NaN
2                                      NaN
3                       Adult not sampled.
4                                      NaN
..                                     ...
339                                    NaN
340  Nest never observed with full clutch.
341  Nest never observed with full clutch.
342                                    NaN
343                                    NaN

[344 rows x 17 columns]>

In [9]:
# Creating my bar chart of penguin species
import matplotlib.pyplot as plt # call external lib to access function. pypplot module allows to customize plotting to chars graphs etc 
df['species'].value_counts().plot(kind='bar', color='yellow') # countspecies in dataset "df" plot in bar chart.color yellow bars.
plt.title('Penguin Species') # Chart titles
plt.xlabel('Species') # Axis labels
plt.ylabel('Count') # Axis labels
plt.show() # display output

KeyError: 'species'